body {
    background-color: gray;
    margin: 0px;
}
header {
    padding: 15px;
    background-color:lightgrey;
}
#landpage {
    color: white;
    padding: 30px 30px 30px 30px;
}
p {
    margin-bottom: 150px;
}